/* ********************  Global  ******************** */
/* ---------- The Header ---------- */
header {
  background: darkblue;
  border-bottom: solid 3px rgb(2, 2, 224);
  box-shadow: 1px 1px 3px gray;
  padding: 10px 0px;
}

/* ---------- Main content ---------- */
.img-fluid,
.card {
  /* Bootstrap class modified to apply border radious to images */
  max-width: 100%;
  height: auto;
  border-radius: 1px;
  box-shadow: 0px 2px 2px gray;
}

.section-title,
.section-subtitle {
  color: rgb(2, 2, 224);
}

/* --------- The Page Footer --------- */
footer .row {
  background: darkblue;
  border-bottom: solid rgb(2, 2, 224);
  box-shadow: 1px 1px 3px gray;
}

footer i {
  font-size: 1.2rem;
}

#copyRight {
  background: rgb(2, 2, 224);
  margin: 0px;
  padding: 0px;
  font-size: 0.5rem;
}

/* ******************** Home Page ******************** */

/* ---------- The Header ---------- */

/* Home introduction carousel */
#homeIntroCarousel img {
  height: 450px;
}

/* Parallax --- 
Source: https://www.youtube.com/watch?v=iGam6w8Jz9g&t=728s */
#parallax {
  background-image: url(./../../assets/img/internet-design.jpg);
  background-attachment: fixed; /* For not moving */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* --- / Parallax */

#parallax2 {
  background-image: url(./../../assets/img/business_mindset.jpg);
  background-attachment: fixed; /* For not moving */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#parallax2 .wrapper {
  padding: 70px 30px 90px;
}

.wrapper h4 {
  padding-top: 40px;
  color: rgb(100, 98, 98);
}

.intro {
  padding: 150px 40px;
  color: darkblue;
}

/* ---------- Main content ---------- */
.mobile {
  /* Increase size of a Font-Awesome mobile telephone icon */
  font-size: 15rem;
}

.mobile-icon,
.features i {
  color: rgb(9, 32, 243);
}

.aCard {
  background-color: rgb(9, 32, 243);
}

/* ------- Additional content ------- */

/* --------- The Page Footer --------- */

/* ******************** Portfolio Page ******************** */

/* ---------- The Header ---------- */

/* ---------- Main content ---------- */
.introCard img,
.projectCard img {
  height: 300px !important;
}

.introCard .card-text {
  padding: 0px 30px;
}

.projectCard img {
  opacity: 0.4;
}

.projectCard {
  background-color: black;
}

/* A darker image --- 
Reference: https://www.youtube.com/watch?time_continue=3&v=h3gktsmp3Oo&feature=emb_logo
.introCard img {
  opacity: 0.5;
}

.introCard {
  background-color: black;
}
--- / A darker image */

.card-img-overlay h5 {
  text-align: center;
  padding-top: 10%;
  padding-bottom: 5%;
}

.card-img-overlay {
  text-align: center;
  padding: 0px !important;
}

.card-img-overlay .card-text {
  text-align: justify;
}

.card-img-overlay i {
  color: yellowgreen;
  font-size: 2.5rem;
  margin: 30% 0.5rem;
}

.card-img-overlay a {
  margin: 0px;
  padding: 0px;
}

/* --------- The Page Footer --------- */

/* ****************** Future Projects Page ****************** */
.projectTypes {
  padding-top: 90px !important;
}

/* ---------- The Header ---------- */

/* ---------- Main content ---------- */

/* --------- The Page Footer --------- */

/* ******************** Contact Page ******************** */

/* ---------- The Header ---------- */

/* ---------- Main content ---------- */
#cheers1 {
  color: gray;
}

#cheers2 {
  color: blue;
}
/* --------- The Page Footer --------- */
